<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop | GLSG</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link rel="stylesheet" href="https://api.flaticon.com/v2/items/icons" />
    <link rel="stylesheet" href="/stylesheets/shop.css" />
    <link rel="icon" href="img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <section id="header">
      <a href="index.html"><img src="./img/logo.png" class="logo" alt="" /></a>
      <div>
        <ul id="navbar">
          <li><a href="#">Home</a></li>
          <li><a class="active" href="shop.html">Shop</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li id="lg-bag">
            <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
          </li>
          <a href="#" id="close"><i class="fa-solid fa-xmark"></i></a>
        </ul>
      </div>
      <div id="mobile">
        <a href="cart.html"><i class="fa-solid fa-bag-shopping"></i></a>
        <i id="bar" class="fa-solid fa-bars"></i>
      </div>
    </section>

    <section id="page-header">
      <p>Save more with coupons & upto 70% off!</p>
    </section>

    <section id="product1" class="section-p1">
      <h2>Featured Products</h2>
      <p>Summer Collection New Modern Design</p>
      <div class="pro-container">
        <div
          style="
            background-image: url(https://i.pinimg.com/originals/e4/03/c1/e403c1b8abcebe2b52695d7d342817e8.jpg);
          "
          class="pro"
          onclick="window.location.href='single-page/n1.html';"
        >
          <img src="./img/products/n1.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQFHJtZToVmx_lO3_8PZ8JcU5fagIHiptjtZg&s);
          "
          class="pro"
          onclick="window.location.href='single-page/n2.html';"
        >
          <img src="./img/products/n2.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://authindia.com/wp-content/uploads/2019/08/Indian-Handicraft-1.jpg);
          "
          class="pro"
          onclick="window.location.href='single-page/n3.html';"
        >
          <img src="./img/products/n3.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://3.bp.blogspot.com/-MMAXyFetouw/V7WGzsLqKTI/AAAAAAAAI2g/xGpyfKJjl2oszyy_rpx0r7CW4foj0Yj0wCEw/s1600/IMG_7328.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
          "
          class="pro"
          onclick="window.location.href='single-page/n4.html';"
        >
          <!-- <img src="./img/products/n4.jpg" alt=""> -->
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://i.pinimg.com/originals/af/5e/0d/af5e0d90528ec3ec6fe30f2598cdb176.jpg);
          "
          class="pro"
          onclick="window.location.href='single-page/n5.html';"
        >
          <img src="./img/products/n5.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://th.bing.com/th/id/OIP.UN2V6a7hGJydjs3orEApzgHaJ4?rs=1&pid=ImgDetMain);
          "
          class="pro"
          onclick="window.location.href='single-page/n6.html';"
        >
          <img src="./img/products/n6.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://authindia.com/wp-content/uploads/2021/02/kashmir-pashmina-shawl.jpg);
          "
          class="pro"
          onclick="window.location.href='single-page/n7.html';"
        >
          <img src="./img/products/n7.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
        <div
          style="
            background-image: url(https://i.pinimg.com/originals/b3/9e/f2/b39ef2c4a62b48919fa779d4df8a6ca0.jpg);
          "
          class="pro"
          onclick="window.location.href='single-page/n8.html';"
        >
          <img src="./img/products/n8.jpg" alt="" />
          <div class="des"></div>
          <a href="#"><i class="fa-solid fa-cart-shopping cart"></i></a>
        </div>
      </div>
    </section>

    <section id="pagination" class="section-p1">
      <a href="shop.html">1</a>
      <a href="second-shop.html">2</a>
      <!-- <a href="#"><i class="fa-solid fa-right-long"></i></a> -->
    </section>

    <!-- <section id="newsletter" class="section-p1 section-m1">
      <div class="newstext">
        <h4>Sign up for Newsletter</h4>
        <p>
          Get latest updates about our latest launch and
          <span>Special Offers</span>
        </p>
      </div>
      <div class="form">
        <input type="text" placeholder="Your Email Address" />
        <button class="normal">Sign Up</button>
      </div>
    </section> -->

    <footer class="section-p1">
      <div class="col">
        <img class="logo-footer" src="./img/logo.png" alt="" />
        <h4>Contact</h4>
        <p><strong>Address:</strong> PIEMR</p>
        <p><strong>Phone: </strong>+62123456789 /+62987654321</p>
        <p><strong>Hours:</strong>10:00 - 18:00, Mon - Sat</p>
        <div class="follow">
          <h4>Follow us</h4>
          <div class="icon">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-pinterest"></i>
          </div>
        </div>
      </div>
      <div class="col">
        <h4>About</h4>
        <a href="#">About Us</a>
        <a href="#">Delivery Confirmation</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Condition</a>
        <a href="#">Contact Us</a>
      </div>
      <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign In</a>
        <a href="#">View Cart</a>
        <a href="#">My Wishlist</a>
        <a href="#">Track My Order</a>
        <a href="#">Help</a>
      </div>
      <div class="col install">
        <h4>Install App</h4>
        <p>Download by Google Play</p>
        <div class="row">
          <button class="pay google">
            <i class="fa-brands fa-google-play"></i> Google Play
          </button>
          <button class="pay apple">
            <i class="fa-brands fa-apple"></i>
            App Store
          </button>
        </div>
        <p>Payment Gateway</p>
        <img src="./img/pay/pay.png" alt="" />
      </div>

      <div class="copyright">
        <p>©2023</p>
      </div>
    </footer>

    <script src="script.js"></script>
  </body>
</html>
